@use '../../index.scss' as index;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 56px;

  background-color: index.$primary-light-color;

  .navigation {
    display: flex;
    gap: index.$base-spacing;
    align-items: center;

    & a {
      display: inline-block;
      text-decoration: none;
      color: index.$text-color;
      font-size: 32px;
    }

    &.left {
      margin-left: index.$base-spacing;
      gap: index.$base-spacing*2;

      & a {
       padding: 0;
      }

      .icon-container {
        font-size: 32px;
        text-decoration: none;
        color: index.$text-color;

        cursor: pointer;
      }
    }

    &.right {
      margin-right: index.$base-spacing;

      & a {
        padding: index.$base-spacing*1.5;

        font-size: 20px;
        font-weight: bold;

        margin: 0;
        border-radius: 4px;

        cursor: pointer;

        &:hover {
          color: index.$background-color;
          background-color: #4B497A;
          box-shadow: 2px 2px 4px #444;
        }
      }
    }
  }
}

.main-content {
  padding: index.$base-spacing*2;
}
