@use '../../index.scss' as index;

$header-height: 56px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $header-height;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: index.$primary-light-color;

  .navigation {
    display: flex;
    gap: index.$base-spacing;
    align-items: center;

    & a {
      display: inline-block;
      text-decoration: none;
      color: index.$text-color;
    }

    &.left {
      margin-left: index.$base-spacing;
      gap: index.$base-spacing*2;

      & a {
        padding: 0;
        font-size: 32px;

        @media(max-width: 600px) {
          font-size: 20px;
        }
      }

      .icon-container {
        font-size: 32px;
        text-decoration: none;
        color: index.$text-color;

        cursor: pointer;

        @media(max-width: 600px) {
          font-size: 20px;
        }
      }
    }

    &.right {
      margin-right: index.$base-spacing;

      & a {
        margin: 0;
        padding: index.$base-spacing*1.5;
        border-radius: 4px;

        font-size: 20px;
        font-weight: bold;

        cursor: pointer;

        @media(max-width: 600px) {
          font-size: 16px;
          padding: index.$base-spacing;
        }

        &:hover {
          color: index.$background-color;
          background-color: #4B497A;
          box-shadow: 2px 2px 4px #444;
        }
      }
    }
  }
}

.main-content {
  padding: index.$base-spacing*4;
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: scroll;

  @media(max-width: 600px) {
    padding: index.$base-spacing*2;
  }
}
