@use '../../index.scss' as index;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .name {
    font-family: 'Yellowtail', sans-serif;
    font-size: 40px;
    text-align: center;
  }

  .image-container {
    height: 450px;
    width: 450px;

    @media(max-width: 600px) {
      height: 300px;
      width: 300px;
    }

    .outer {
      width: 80%;

      &.hex {
        .hex-content-container {
          background-color: index.$primary-dark-color;
        }
      }

      .hex {
        width: 100%;
        height: 100%;
      }
    }
  }

  .welcome {
    font-family: 'Yellowtail', sans-serif;
  }

  h3 {
    text-indent: 1em;
    align-self: flex-start;
  }
}
